table {
    border: 2px solid rgb(30, 172, 223);
    border-collapse: collapse;
}

/* border-collapse property: is used to avoid having double borders; 
make the borders collapse into a single border  */

tr, td {
    border: 1px dotted black;
    padding: 10px;
    
}

th {
    border: 2px solid rgb(30, 172, 223);
    padding: 10px;
}


